{% extends "base.html" %}

{% block content %}
    <h1>Build a Blog</h1>
    <form method='POST'>
        <label>
            Title for your new blog:
            <input type='text' name='title' />
        </label>
        <br /> <br />
        <label>
            Your new blog:
            <input type='text' name='body' />
        </label>
        <br /><br />
        <input type='submit' value='Add Entry' />
    </form>

    {% if titles|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for title in titles %}
             <li>{{title.name}}</li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %} -->